[Unit]
Description=TemperUSB Thermometer
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/pconroy/TemperUSB_C
ExecStart=/home/pconroy/TemperUSB_C/dist/Debug/GNU-Linux/temperusb -h mqttrv.local -n 1 -l rvcabin
StandardOutput=null
StandardError=null
Restart=always
RestartSec=60

[Install]
WantedBy=default.target

